.container {
  height: 40vh;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  padding-right: 30px;
  align-items: center;
  gap: 10px;
}
.bar {
  height: 200px;
  width: 1px;
  background-color: white;
}

@media screen and (max-width: 420px) {
  .container {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    display: none;
  }
}
