.container {
  height: 500px;
  width: 900px;
  background-color: #39383c;
  translate: 0 -250px;
  display: flex;
}

.left_content {
  height: 100%;
  width: 50%;
  padding: 20px;
}

.right_content {
  height: 100%;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(205, 201, 201);
}

.project_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.title {
  margin-bottom: 10px;
}

.text {
  margin-bottom: 10px;
}
.skill_container {
  display: flex;
  gap: 10px;
}

.button_container {
  width: 100%;
  margin-top: auto;
}

.button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #222121;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #2d2c2c;
}
