.container {
  height: 500px;
  width: 900px;
  background-color: #39383c;
  translate: 0 -250px;
  display: flex;
}

.left_content {
  height: 100%;
  width: 50%;
  padding: 20px;
}

.right_content {
  height: 100%;
  width: 50%;
  padding: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(205, 201, 201);
}
.right_content > h2 {
  margin-bottom: 20px;
}

.project_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
