.scroll_container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

.scroll_area {
  scroll-snap-align: start;
  position: auto;
}
.scroll_container .scroll_area {
  height: 100vh;
}
